.nationWrap,
.typeWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 180px;
  padding: 20px;
}

.typeWrap {
  border-left: solid 1px #828282;
  border-right: solid 1px #828282;
}

.nationTitle,
.typeTitle {
  color: #fff;
  margin-bottom: 20px;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
}

@media (max-width: 600px) {
  .nationWrap,
  .typeWrap {
    width: 100%;
  }

  .typeWrap {
    border-top: solid 1px #828282;
    border-left: none;
    border-right: none;
  }

  .nationTitle,
  .typeTitle {
    margin: 5px;
  }
}
