.user {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  position: relative;
}

.userInput {
  position: absolute;
  height: 0;
  width: 0;
}

.userInput:checked ~ .userWrap {
  display: block;
}

.userLink {
  position: relative;
  cursor: pointer;
}

.userLink::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  background: url(../assets/page/account.svg) no-repeat;
  height: 24px;
  width: 24px;
}

.userWrap {
  content: '';
  display: none;
  position: absolute;
  background-color: #acadac;
  top: 35px;
  right: -5px;
  width: 300px;
  border: solid 2px #828282;
  border-radius: 5px;
  z-index: 3;
  color: #0a0a0a;
  padding: 6px 13px;
}

.userWrap:hover {
  border: solid 1px#828282;
  border-radius: 5px;
  cursor: pointer;
}

.userWrap:hover .userLink::before {
  top: 2px;
  left: 2px;
}

.compare {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  position: relative;
}

.compareLink {
  position: relative;
  cursor: pointer;
}

.compareLink::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  background: url(../assets/page/compare.svg) no-repeat;
  height: 24px;
  width: 24px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  color: #fff;
  z-index: 1072;
  background-color: #7b7b7bf0;
}

.modalActive {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}
