.nationInput {
  position: absolute;
  overflow-y: auto;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  top: 50px;
  left: 18px;
}

.nationItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
}

.nationInput:checked ~ .nationItem {
  border-radius: 14px;
  box-shadow: 0px 0px 10px 5px #cc2331;
}

.nationItem:hover,
.nationInput:focus ~ .nationItem {
  border-radius: 14px;
  box-shadow: 0px 0px 10px 5px #676560;
}

.nationItem span {
  z-index: -1;
}

.nationImg {
  height: 26px;
  width: 41px;
  margin: 10px;
  z-index: -1;
}

@media (max-width: 600px) {
  .nationItem {
    margin: 3px;
  }
}
