.searchTypeTitle {
  color: #fff;
  margin: 12px;
}

.searchTypeWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  list-style: none;
}

@media (max-width: 600px) {
  .searchTypeWrap {
    justify-content: space-around;
  }
}
